In [1]:
import pandas as pd
import numpy as np

In [2]:
# Determine all the variable types and find the fraction of the missing values for each variable. 
# Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

# import the data
df = pd.read_csv('states_all.csv')
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [3]:
# Determine all the variable types and find the fraction of the missing values for each variable. 
# Answer the following questions as you work through this challenge, and then paste a link to your Notebook.

In [4]:
# total null values
df.isnull().sum()

PRIMARY_KEY                        0
STATE                              0
YEAR                               0
ENROLL                           491
TOTAL_REVENUE                    440
FEDERAL_REVENUE                  440
STATE_REVENUE                    440
LOCAL_REVENUE                    440
TOTAL_EXPENDITURE                440
INSTRUCTION_EXPENDITURE          440
SUPPORT_SERVICES_EXPENDITURE     440
OTHER_EXPENDITURE                491
CAPITAL_OUTLAY_EXPENDITURE       440
GRADES_PK_G                      173
GRADES_KG_G                       83
GRADES_4_G                        83
GRADES_8_G                        83
GRADES_12_G                       83
GRADES_1_8_G                     695
GRADES_9_12_G                    644
GRADES_ALL_G                      83
AVG_MATH_4_SCORE                1150
AVG_MATH_8_SCORE                1113
AVG_READING_4_SCORE             1065
AVG_READING_8_SCORE             1153
dtype: int64

In [8]:
# fill in the missing values with the mean of the column
df_mean = df['AVG_READING_8_SCORE'].fillna(df['AVG_READING_8_SCORE'].mean())
df_mean.isnull().sum()

0

In [10]:
# fill in the missing values with the median of the column
df_median = df['AVG_READING_8_SCORE'].fillna(df['AVG_READING_8_SCORE'].median())
df_median.isnull().sum()

0

In [18]:
# fill in the missing values with interpolation 
df_interpolate = df['AVG_READING_8_SCORE'].interpolate(method='linear', limit_direction='forward')

In [27]:
print('Total null values: ', df['AVG_READING_8_SCORE'].isnull().sum())
print(20*'-')
print('Original describe of data:', df['AVG_READING_8_SCORE'].describe())
print(20*'-')
print('Describe of data with mean:', df_mean.describe())
print(20*'-')
print('Describe of data with median:', df_median.describe())
print(20*'-')
print('Describe of data with interpolation:', df_interpolate.describe())
print(20*'-')

Total null values:  1153
--------------------
Original describe of data: count    562.000000
mean     263.558719
std        6.612601
min      236.000000
25%      260.000000
50%      265.000000
75%      268.000000
max      280.000000
Name: AVG_READING_8_SCORE, dtype: float64
--------------------
Describe of data with mean: count    1715.000000
mean      263.558719
std         3.783105
min       236.000000
25%       263.558719
50%       263.558719
75%       263.558719
max       280.000000
Name: AVG_READING_8_SCORE, dtype: float64
--------------------
Describe of data with median: count    1715.000000
mean      264.527697
std         3.843150
min       236.000000
25%       265.000000
50%       265.000000
75%       265.000000
max       280.000000
Name: AVG_READING_8_SCORE, dtype: float64
--------------------
Describe of data with interpolation: count    1409.000000
mean      262.960965
std         5.640964
min       236.000000
25%       259.153846
50%       263.142857
75%       267.000000
max       280.000000
Name: AVG_READING_8_SCORE, dtype: float64
--------------------

In [28]:
# interpolation method is meaningful.