In [1]:
# 1. Determine the types of the below-given variables:
# Age
# Salary
# Income
# Customer type
# Stock price

# Age = numerical, continuous, ratio
# Salary = numerical, continuous, ratio
# Income = numerical, continuous, ratio
# Customer type = categorical, nominal
# Stock price = numerical, continuous, ratio

In [2]:
# 2. Using the movie data, we have studied in this lesson. Complete the following tasks:
# Select a variable from the movie dataset and discuss the variable type of this variable
# Categorize a variable of your choice and assign a name to it
# Count the number of rows for each category

In [3]:
import pandas as pd
df = pd.read_csv('movies.csv')
df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [5]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

In [6]:
df.nunique()

Rank                  1000
Title                  999
Genre                  207
Description           1000
Director               644
Actors                 996
Year                    11
Runtime (Minutes)       94
Rating                  55
Votes                  997
Revenue (Millions)     814
Metascore               84
dtype: int64

In [7]:
#  0   Rank                1000 non-null   int64   = continuous numerical
#  1   Title               1000 non-null   object  = string variable
#  2   Genre               1000 non-null   object  = nominal categorical
#  3   Description         1000 non-null   object  = string variable
#  4   Director            1000 non-null   object  = nominal categorical
#  5   Actors              1000 non-null   object  = nominal categorical
#  6   Year                1000 non-null   int64   = discrete numerical
#  7   Runtime (Minutes)   1000 non-null   int64   = discrete numerical
#  8   Rating              1000 non-null   float64 = continuous numerical
#  9   Votes               1000 non-null   int64   = continuous numerical
#  10  Revenue (Millions)  872 non-null    float64 = continuous numerical
#  11  Metascore           936 non-null    float64 = continuous numerical

In [10]:
# 3. Is it possible to convert categorical variable into numerical one? If so, how can you make that?

# It is possible to convert categorical variable into discrete numerical.
# Assigning a number to each category.

In [11]:
# example: assigning a number to each category
df['Genre_number'] = df['Genre'].astype('category').cat.codes

In [13]:
df['Genre_number'].nunique() == df['Genre'].nunique()

True

In [16]:
df['Genre_number'].head()

0     11
1     85
2    195
3     92
4      7
Name: Genre_number, dtype: int16

In [17]:
# 4. While continuous data is generally preferred over discrete data, 
# please indicate circumstances where discrete is the preferred data type 
# although continuous data is available for the same characteristic.

# In classification, categorical data are used as they fit the classification techniques and method.
# In regression problems, continues data is required.

In [18]:
# 5. While continuous data is measured and attribute data is counted, 
# there is sometimes confusion if some specific dataset should be considered continuous or attribute. 
# Provide some examples of confusing datasets and your inference.

# example: age is discrete data.